html{
   font-size: 62.5%;
}
.PWReset{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.PWReset_Input{
   margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.PWReset_Div{
    border:0.1rem solid lightgray ;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem lightgray inset;
    border-radius: 3rem;
    padding-left: 1.5rem;
    color:#9A30AE;
    font-weight: bolder;
    display: flex;
    width:50rem;
    height: 4rem;
    line-height : 4rem;
    font-size: 2rem;
    margin-bottom: 0.7rem;
}
.PWReset_Div input{
    background-color: rgba(255, 255, 255, 0);
    outline-style: none;
    appearance: none;
    border: none;
}
.PWReset_Div select{
    background-color: #9A30AE;
    border-radius: 3rem;
    border: none;
    color:white;
    outline-style: none;
    text-align: center;
    font-size: 1.5rem;
    width: 15.2rem;
}
.Birth_input{
   font-size: 1.2rem;
}
.PWReset button{
    border-radius: 3rem;
    border:none;
    color:white;
    font-weight: bolder;
    font-size: 1.5rem;
    background-color: #9A30AE;

    margin-top: 1rem;
    width:30rem;
    height: 4.5rem;
}
.PWReset_Div_Birth{
   border:0.1rem solid lightgray ;
   box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem lightgray inset;
   border-radius: 3rem;
    padding-left: 1.5rem;
    color:#9A30AE;
    font-weight: bolder;

    width:50rem;
    height: 4.5rem;
    line-height :  4.5rem;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}
.Birth_input{      
    float: right;
    border:none;
    background-color:rgba(255, 255, 255, 0);
    appearance: none;    
    outline-style: none;
    width: 38rem;
    height: 4.5rem;
    padding-right: 2rem;
}
.PWReset_Div label{
    width: 10rem;
}
.IDinput{
    width: 12rem;
}
.emailInput{
    width: 12rem;
}
.Name_input{
 width:40rem;
}

@media  only screen and (min-width: 280px) and (max-width: 319px) and (orientation: portrait){/*소형 모바일(세로), 갤럭시 폴드 접은 버전(세로)*/
   html {
      font-size: 31.5%;
  }
}
@media only screen and (min-width : 321px) and (max-width : 424px) and (orientation : portrait){/*모바일(세로)*/
   html {
      font-size: 40.5%;
  }
}
@media only screen and (min-width : 425px) and (max-width : 1024px) and (orientation : landscape){/*모바일(가로)*/
   html {
      font-size: 40.5%;
  }
}
@media only screen and (min-width : 425px) and (max-width : 1023px) and (orientation : portrait){/* 갤럭시 폴드 편 버전(가로)*/
   html {
      font-size: 55.5%;
  }
}
