html{
    font-size: 62.5%; 
}
.MemberInfoSide{      
    margin-top:10rem;
    padding-top:10rem;
    width: 30rem;
    height: 55rem;
    margin-left: 8rem;  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 8rem;
    border-right: 1px solid gray;
}
.Name{
    font-size: 3rem;
    font-weight: bold;
}
.MemberInfoSideWeight{
    display: flex;
    flex-direction: row;
    margin-top:0;
}
.MemberInfoSideWeight p{
    font-size: 1.75rem;
    font-weight: bold;
    margin-top:0.5rem;
}
.KGP{
    margin-left:4rem;
}