.html {
  font-size: 62.5%;
}

.header {
  width: 100vw;
  height: 8rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: white;

  z-index: 100;
}
.header-align {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
  position: relative;
  white-space: nowrap;
}
.headerCenter {
  display: flex;
  align-items: center;
  text-align: center;
}
.headerLogo {
  width: 18rem;

  margin-top: 0.5rem;
  font-size: 40px;
}
.br {
  width: 40px;
}
.text {
  color: black;
}
.headerLogo_center {
}
.headerLeft {
  text-align: center;

  width: auto;
  align-items: center;
}
.headerRight {
  display: flex;
  gap: 10;
}
.MenuHeader {
  width: auto;
  height: auto;
  border: none;
  background: none;
}
.SearchLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60rem;
  height: 4rem;
  background-color: white;
  padding: 0rem 1rem 0rem 1rem;
  border-color: #3342c3;
  border: solid 0.3rem;
}

.SearchLabel input {
  border: none;
  background-color: rgb(255, 255, 255, 0);

  outline-style: none;
  appearance: none;
  width: 55rem;
  height: 4rem;
}
.HeaderIcon {
  padding: 0;
}

.MypageHeader {
  width: 5rem;
}

.searchbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  background: none;
}
