html{
    font-size: 62.5%;
}
.ChattingList{
    display: flex;
    flex-direction: column;
    width:45rem;
    height: 10rem;
    margin-left: 3rem;
}
.directionRow{
    display: flex;
    flex-direction: row;
}
.ChattingInfo{ 
    margin-left: auto;
    width:22rem;
    height: 10rem;
    line-height: 5rem;
}
.ChatNick{
    padding-left: 10rem;
    width: 50rem;
    font-size: 2.5rem;
    font-weight: bold;
}
.LastChat{
    margin-top:1rem;
    font-size: 1.5rem;
}
.ChatTime{
    text-align: right;
    font-size: 1rem;
    color: rgb(165, 165, 165);
}
.theLine{
    width: 45rem;
    margin-left: 5rem;
    height: 1rem;
    border:0.1rem solid rgba(128, 128, 128, 0.226);
}


