html{
    font-size: 62.5%; 
}
.Mypage{    
    padding-top:5.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Logo{
    margin-top: 8rem;
    padding:2rem;
    border-radius:70%;
    background-color: #9A30AE;
    width: 25rem;
    height: 25rem;
} 
.LogoIMG{
    width: 25rem;
    height: 25rem;
}
.InputMaterial{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Input{
    border:0.1rem solid lightgray ;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem lightgray inset;
    border-radius: 3rem;
    padding-left: 1.5rem;
    font-weight: bolder;
    display: flex;
}
.InputMaterial input{
    border:none;
    background-color: rgba(255, 255, 255, 0);
    outline-style: none;
    appearance: none;
    width: 35rem;
    height: 4rem;
}
.InputLabel{
    line-height: 4rem;
    font-size: medium;
}
.Input label{
    color:#9A30AE;;
}
.InputMaterial button{
    margin-top: 2rem;
    border-radius: 3rem;
    border:none;
    color:white;
    font-weight: bolder;
    font-size: larger;
    background-color: #9A30AE;
    width: 30rem;
    height: 4rem;
}
.otherBTN{
    margin-top: 2rem;
    width: 50rem;
}
.otherBTN_Div1{
    float: left;
}
.otherLogin{
    margin-left: 0.6rem;
    width: 4.5rem;
    height: 4.5rem;
    padding: 0rem;
    background-color: white;
    border:none;
}
.IconLogo{
    width: 4.5rem;
    height: 4.5rem;
}

.otherBTN_Div2{
    float: right;
    display: flex;
}
.otherBTN_Div2 button{
    float: inherit;
    color:#9A30AE;
    background-color: white;
    border:none;
    font-weight: bold;
    height: 5rem;
    width: 10rem;
    font-size: 1.4rem;
}
@media  only screen and (min-width: 280px) and (max-width: 319px) and (orientation: portrait){/*소형 모바일(세로), 갤럭시 폴드 접은 버전(세로)*/
    html{
        font-size: 36.5%;
    }
}
@media only screen and (min-width : 321px) and (max-width : 424px) and (orientation : portrait){/*모바일(세로)*/
    html{
        font-size: 50.5%;
    }
}
@media only screen and (min-width : 425px) and (max-width : 1024px) and (orientation : landscape){/*모바일(가로)*/
    html{
        font-size: 30.5%;
    }
    button{
        font-size: smaller;
    }
}
@media only screen and (min-width : 425px) and (max-width : 1024px) and (orientation : portrait){/* 갤럭시 폴드 편 버전(가로)*/
    html{
        font-size: 36.5%;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){/*태블릿(세로)*/
    html{
        font-size: 36.5%;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){/*태블릿(가로)*/
    html{
        font-size: 35.5%;
    }
}